@page
@model WebApplication.Pages.LoadGame
@{
    ViewData["Title"] = "Load Game";
}

<div>
    <h1 class="display-4 title">Load game</h1>
    
    <table style="width: 100%">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach(var savedGame in Model.SavedGames)
        {
            <tr style="border-bottom: 1px solid lightgray; line-height: 2">
                <td class="delete_button" title="Delete saved game">x</td>
                <td>
                    @Html.DisplayFor(modelItem => savedGame.SaveGameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => savedGame.SaveCreationDateTime)
                </td>
                <td style="display: flex; justify-content: flex-end; line-height: initial"><a class="custom_button" asp-route-gameId="@savedGame.SaveGameId" asp-page="PlayGame">Play</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>