@page
@model WebApplication.Pages.Options
@{
    // Layout = null;
    ViewData["Title"] = "Options";
}

<div>
    <h1 class="display-4 title">Options</h1>
    
    <table style="width: 250px; height: 90px; margin-bottom: 50px">
        <tbody>
        <tr>
            <td>Board width/columns:</td>
            <td><input class="custom_input" value="x"/></td>
        </tr>
        <tr>
            <td>Board height/rows:</td>
            <td><input class="custom_input" value="x"/></td>
        </tr>
        </tbody>
    </table>
    
    <a asp-page="Index" class="custom_button">Save</a>
    <a asp-page="Index" class="custom_button cancel">Cancel</a>
</div>
